*{
    margin: 0;padding: 0;box-sizing: border-box;
}

 #Container-I {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  #container-II{
    display: flex;
    gap: 30px;
    width: 90%;
    margin: auto;
   
  } 
  #container-II img{
      background-color: #f1f1f1
  }
  #Slider {
    width: 60%;
  }
  #slider img {
    width: 100%;
  }

  #imageDiv {
    width: 35%;
  }
  #imageDiv img {
    width: 100%;
    height: 88px;
    margin: 5px;
  }
.item{
    position: relative;
}
.item:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.button1{
      background-color: white;
      border: 1px solid #44C6AC;
      border-radius: 20px;
      color: #44C6AC;
      width: 34%;
      margin-bottom: 5px;
      position: absolute;
      bottom: 0%;
      left: 63%;

  }
  .button1:hover{
      background-color: #44C6AC;;
      color: white;
  }
  #heading{
      margin-left: 20px;
      border-bottom: 2px solid rgb(227, 227, 227);
      margin-bottom: 10px;
      color:rgb(180, 176, 176);
  }
 