
#mainDiv{
    display:flex
}
#div1{
    /* border:1px solid; */
    width:20%;
   padding-left: 10px;
}
p{
    color:grey;
}
#container{
    /* margin-left:10px; */
    width:100%;
    display:grid;
    grid-template-columns: repeat(4,25%);
    height:20%;
    grid-gap: 1.5%;
    margin-right: 7%;
}

@media all and (min-width: 451px) and (max-width:750px){
    #container{
        
        width:100%;
        display:grid;
        grid-template-columns: repeat(2,40%);
        height:15%;
        grid-gap: 1.5%;
        /* margin-right: 7%; */
    }  
    #div1{
        margin-right: 10px;

    }
    
}

@media all and (min-width: 100px) and (max-width:450px){
    #container{
       
        width:100%;
        display:grid;
        grid-template-columns: repeat(1,70%);
        height:12%;
        grid-gap: 1.5%;
        /* margin-right: 7%; */
    }  
    #div1{
        margin-right: 20px;
    }
    
}
.OuterDiv{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    

}
.OuterDiv:hover{
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.innerDiv{
    display: flex;
    justify-content: space-between;
}
.btn{
 margin: 12px 12px 12px 12px;
 border-radius: 12px;
 background-color: white;
 color:green;
 border-color: green;
}
.btn:hover{
    background-color: green;
    color:white;
}
.imgDiv{
    background-color: rgb(245, 245, 245);
}
.detDiv{
    margin:0px 10px 0px 8px;
}



